*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(29, 38, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 700px;
    background-color: rgb(37, 48, 61);
    border: 2px solid rgb(22, 29, 37);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputBox input{
    width: 70%;
    margin-top: 60px;
    padding: 5px;
    position: sticky;
}
.inputBox img{
    width: 40px;
    margin-top: 60px;
    margin-left: 3%;
}
.todolist{
    background-color: rgba(255, 243, 224, 0);
    height: 70%;
    width: 85%;
    margin-top: 20px;
    padding: 10px;
}
.todoItem{
    margin-bottom: 12px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 243, 224, 0);
    padding: 3px;
    display: flex;
    border-bottom: solid 1px rgba(179, 179, 179, 0.166);
}
.todoItem img{
    width: 20px;
}
.todoItem ul{
    background-color: rgba(255, 255, 255, 0);
    width: 93%;
}